body { font-family: Verdana, Arial, Helvetica, sans-serif; background-color: #FAFAED; font-size: 12pt; }

h1, h2, h3, h4, h5, h6, form { margin: 0px 0px 0px 0px; }
h3 { text-align: center; font-size: 14pt; font-weight: bold; }

a { text-decoration: none; color: #531A0E; }
a:link { color: #531A0E; }
a:hover { color: fuchsia; }
a:active { color: crimson; }
a.transparent { color: #C0C0C0; }

p { color: black; text-align: justify; text-indent: 15pt; }
legend { font-size: 7pt; text-align: center; font-weight: bold; }
hr { height: 1; color: darkgray; }
table { margin: 1px; }

.ramka { background-color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; }
.ramka2 { background-color: #999999; }
tr { margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
tr.block { background-color: #FAFAED; }
tr.caption { background-color: #789154; color: #ffffff; }
tr.topheader { background-color: #DDDDC5; }
tr.header { background-color: #DBDAC4; color: #000000; font-weight: bold; }
tr.highlight { background-color: #FFFF99; }
tr.enabled { background-color: #F5F5DC; }
tr.upline { vertical-align: top; }

td { border-collapse: collapse; border-width: 1px; margin: 1px 1px 1px 1px; }
td.bg { background-color: #E0E0E0; }
td.selected { background-color: #2D9522; color: #ffffff; }
td.fio { width: 20%; font-weight: bold; }
td.dolg { text-align: left; }
td.gor { text-align: center; font-weight: bold; }
td.hicom { text-align: center; }
td.int { text-align: center; }
td.kab { text-align: center; }

div { text-align: left; border-width: 0px; margin: 0px; }
div.notes { text-align: right; font-style: italic; font-size: 11pt; margin-right: 30px; color: yellow; font-weight: bold; }
div.level1 { font-size: 16pt; text-align: left; font-weight: bold; font-style: italic; }
div.level2 { font-size: 16pt; font-weight: bold; margin-left: 30px; }
div.level3 { font-size: 14pt; font-weight: bold; margin-left: 60px; }
div.level4 { font-size: 13pt; font-weight: bold; margin-left: 90px; }
div.level5 { font-size: 12pt; font-weight: bold; margin-left: 120px; }
div.level6 { font-size: 12pt; font-weight: normal; margin-left: 150px; }

div.searchforms {
    font-size: 11px;
    font-weight: normal;
    padding-left: 10px;
    padding-right: 10px:
}

select { width: 98%; }
form { border-style: none; border-width: 1px; border-color: gray; padding: 10px; }
fieldset { border-style: dotted; border-width: 1px; border-color: gray; padding: 10px; }
legend { border-style: none; font-weight: bold; }
li { font-size: 11pt; }
div.sysmsg {
 border-color: red;
 border-style: double;
 border-width: 4px;
 color: red;
 font-weight: bold;
 padding: 10px;
 text-align: center;
 width: 80%;
 margin-left: 10%;
 margin-top: 15px;
 margin-bottom: 15px; }

textarea {
    resize: none;
}

.framed_gray {border-style: dotted; margin: 10px 20%; background-color: #E0E0E0; }
.common { background-color: ffffff; }
.title { font-weight: bold; text-decoration: none; }
.small { font-size: 11px; }
.small-small { font-size: 6px; }
.normal { font-size: 11px; }
.big { font-size: 11px; }
.footer { color: #555555; font-size: 60%; text-align: center; }
.stretch { font-family: Verdana, Arial, Helvetica, sans-serif; }
.narrow { font-family: Arial, Helvetica, sans-serif; }
.light { color: #C00000; }
.unisymbl { color: #101010; font-family: FreeSans, Arial, sans-serif; font-size: 145%; }
.original { font-size: 11px; width: 98%; }
.edlink {
  border: 1px solid;
  border-color: #FFFFFF #3E3F3B #3E3F3B #FFFFFF;
  border-collapse: separate;
  padding: 0px 2px 1px;
  background-color: #E4E5DA;
  font-size: 77%; 
  color: black; }
.idno { color: #585858; font-size: 80%; }
